<header>
  <nav>
    <h1><%= header_link_item('ホーム', root_path) %></h1>
    <ul class=header-itme-ul>
      <li><%= header_link_item('掲示板一覧', boards_path) %></li>
      <% if @current_user %>
        <li><%= link_to 'マイページ', mypage_path, class: 'dropdown-item' %></li>
        <li> <%= link_to 'ログアウト', logout_path, method: :delete, class: 'dropdown-item' %></li>
      <% else %>
        <li><%= link_to '登録', new_user_path, class: 'dropdown-item' %></li>
        <li><%= link_to 'ログイン', root_path, class: 'dropdown-item' %></li>
      <% end %>
    </ul>
  </nav>
</header>
